<!-- Chat box -->
<div>
    <button class="chatbox-toggler" onclick="openChatBox()">
        <span><i class="fa-regular fa-message"></i></span>
        <span><i class="fa-solid fa-xmark"></i></span>
    </button>
    <div class="chatbox">
        <div class="chat-head">
            <h2>Chat</h2>
        </div>
        <ul class="message">
            <li class="chat incoming">
                <span><i class="fa-solid fa-user-tie"></i></span>
                <p>Xin chào! <br>Tôi có thể giúp gì được cho bạn?</p>
            </li>
        </ul>
        <div class="chat-input">
            <textarea placeholder="Enter a message..." required></textarea>
            <span><i class="fa-solid fa-paper-plane"></i></span>
        </div>
    </div>
</div>
<script src="/js/chat.js" defer></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>


