<footer class="footer">
    <div class="footer-top">
        <div class="container">


            <div class="col1">
                <img id = "logo" src="/img//header-footer/logo.webp" >
                    <div class="logo-wrapper">
                    
                        <h2  class="slogan" style="text-align:center" >BRING HEAVEN TO YOU</h2>
                    </div> 

            </div>



            <div class="col2">

                
                
                <ul class="menu">
                    <li><h3>Office</h3> <p><b>Công ty Cổ phần Du lịch Paradise</b></p> </li>
                    <li><p class="information-footer"> <i class="fa-solid fa-location-dot"> </i> Đảo Hòn Tre, Phường Vĩnh Nguyên, Thành phố Nha Trang, Tỉnh Khánh Hòa, Việt Nam </p></li>
                    <li><p class="information-footer"> <i class="fa-solid fa-envelope">     </i> paradise.resort@booking.com</p></li>
                    <li><p class="information-footer"> <i class="fa-solid fa-phone">        </i> 087.898.7686 </p></li>
                    <li><p class="information-footer"> Số ĐKKD: 4200456848. ĐK lần đầu 26/03/2024. ĐK thay đổi tại từng thời điểm. Nơi cấp: Sở Kế hoạch và Đầu tư tỉnh Khánh Hòa</p></li>
                </ul>
                <ul class="menu">
                    <li><h3>Terms and regulations</h3></li>
                    <li><a href="/general-terms">General terms</a></li>
                    <li><a href="/general-regulations">General regulations</a></li>
                    <li><a href="/payment-regulations">Payment regulations</a></li>
                    <li><a href="/reservation-regulations">Reservation regulations</a></li>
                </ul>

            </div>




            <div class="col3">

                <h3>News</h3>

                <form >
                    <div class="input-wrap">
                        <i class="fa-solid fa-envelope"></i>
                        <input type="email" placeholder="Enter your email" required>
                        <button type="submit"><i class="fa-solid fa-arrow-up-from-bracket"></i></button>
                    </div>
                </form>
                        
                <div class="img-wrapper">
                    <img class="qr-img"src="/img/header-footer/qr-code.png" alt="">
                </div>
                <h4>Quét QR để đặt phòng</h4>

                <ul class="media-icons">
                    <li><i class="fa-brands fa-facebook"></i></li>
                    <li><i class="fa-brands fa-twitter"></i></li>
                    <li><i class="fa-brands fa-tiktok"></i></li>               
                </ul> 

            </div>
            
        </div>
    </div>
<hr>

        <p >Copyright © 2024 paradise.com. All rights reserved</p>
        
</footer>