<header>
  <div class="navbar">
    <div class="logo"><a href='/' class='logo'><img
          src='https://github.com/Pest270904/StoreImg/blob/main/NT208/header-footer/Group2.svg?raw=true'
          alt='logo' /></a></div>
    <ul class='navlinks'>
      <li><a href='/'>home</a></li>
      <li><a href='/facilities'>facilities</a></li>
      <li><a href='/rooms'>rooms</a></li>
      <li><a href='/contact'>contact-us</a></li>
      <li><a href='/reservation'>reservation </a></li>
      <li class="search"><i class='fa-solid fa-magnifying-glass'></i></li>
    </ul>
    <a href='/auth/login' class="login-button"><button class='btn-login'><i
          class='fa-solid fa-arrow-right-to-bracket'></i> Login</button></a>
    <div class='menu'><i class='fa-solid fa-bars'></i></div>
  </div>
  <div class="dropdown-menu">
    <ul>
      <li><a href='/'>home</a></li>
      <li><a href='/facilities'>facilities</a></li>
      <li><a href='/rooms'>rooms</a></li>
      <li><a href='/contact'>contact-us</a></li>
      <li><a href='/reservation'>reservation </a></li>
    </ul>
  </div>
</header>
<script>
  //menu
  const menu = document.querySelector('.menu')
  const menuIcon = document.querySelector('.menu i')
  const dropDownMenu = document.querySelector('.dropdown-menu')

  menu.onclick = function() {
    dropDownMenu.classList.toggle('open')
    const isOpen = dropDownMenu.classList.contains('open')
    menuIcon.classList = isOpen
    ? 'fa-solid fa-xmark'
    : 'fa-solid fa-bars'
  }

  document.addEventListener('DOMContentLoaded', function() {
  document.querySelector('.login-button').addEventListener('click', function() {
  window.location.href = '/auth/login'; }); });
</script>