<div class="reservation">
    <div class="leftSide">
        <div class="header-left">
            <h1>RESERVATION</h1>
        </div>
        <!-- Search Reservation -->
        <div class="search_reservation">
            <div>
                <input type="text" placeholder="Search reservation">
                <i class="fa-solid fa-magnifying-glass"></i> 
            </div>                
        </div>
        <!-- ORDER LIST --> 
    <table class="booking-list">
        <thead>
            <tr>
                <th>ID</th>
                <th>Customer</th>
                <th>Room</th>
                <th>Booking Information</th>
                <th>Action</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody class="booking-list-tbody">
            
        </tbody>
    </table>
</body> 
<script src="/js/admin-reservation.js" defer></script>