<div class="chat">
    <div class="leftSide">
        <div class="header-left">
            <h1>Chats</h1>
        </div>
        <!-- Search Chat -->
        <div class="search_chat">
            <div>
                <input type="text" placeholder="Search messages">
                <i class="fa-solid fa-magnifying-glass"></i> 
            </div>                
        </div>
        <!-- CHAT LIST -->
        <div class="chatlist">
                <div class="block active">
                    <div class="details">
                        <div class="listHead">
                            <h4>lengo0951</h4>
                            <p class="time">10:56</p>
                        </div>
                        <div class="message_p">
                            <p>How are you doing?</p>
                        </div>
                    </div>
                </div>

                <div class="block unread">
                    <div class="details">
                        <div class="listHead">
                            <h4>tnh47</h4>
                            <p class="time">12:34</p>
                        </div>
                        <div class="message_p">
                            <p>I love you!</p>
                            <b>1</b>
                        </div>
                    </div>
                </div>                               
                <div class="block">
                    <div class="details">
                        <div class="listHead">
                            <h4>anhkhoi312</h4>
                            <p class="time">Yesterday</p>
                        </div>
                        <div class="message_p">
                            <p>Hey!</p>                            
                        </div>
                    </div>
                </div>                
            </div>
        </div>        
    <div class="rightSide">
        <div class="header">
            <div class="imgText">
                <h4>lengo0951</h4>
            </div>
        </div>
        <!-- CHAT-BOX -->
        <div class="chatbox">
            <div class="message my_msg">
                <p>Hi <br><span>12:18</span></p>
            </div>
            <div class="message friend_msg">
                <p>How are you doing? <br><span>10:56</span></p>
            </div>   
            <div class="chat_input">
                <input type="text" placeholder="Type a message">
                <span><i class="fa-solid fa-paper-plane"></i></span>
            </div>             
        </div>
    </div>
</div>