<div class="users">
    <div class="leftSide">
        <div class="header-left">
            <h1>USERS</h1>
        </div>
        <table class="users-list">
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Full name</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody class="users-list-tbody">
            
        </tbody>
    </table>
    </div>
</div>
<script src="/js/admin-users.js" defer></script>