<!-- Home section -->
<section class="home-faci">
    <div class='home-text'>
    <svg>
      <text x='50%' y='50%' dy='.35em' text-anchor='middle'>
        Welcome to Paradise!
      </text>
    </svg>
    <p class="home-text-signature">Awaken all senses with Paradise's classy coastal resort ecosystem</p>
    <button class='book-btn'>
      <i class='fa-regular fa-calendar'></i>
      book now
    </button>
  </div>
</section>


<!-- Body -->
<body>
    <div class="faci-first-description">
        <p class="faci-first-description-bigtext">FACILITIES</p>
        <p class="faci-first-description-smalltext">We want your stay at our lush hotel to be truly unforgettable.  That is why we give special attention to all of your needs so 
            that we can ensure an experience quite uniquw. Luxury hotels offers the perfect setting with stunning views for leisure
            and our modern luxury resort facilities will help you enjoy the best of all. </p>
    </div>

    <section class="faci-detail faci-background-gym">
        <p class="faci-detail-text">THE GYM</p>
    </section>

    <section class="faci-detail faci-background-poolsidebar">
        <p class="faci-detail-text">POOLSIDE BAR</p>
    </section>

    <section class="faci-detail faci-background-spa">
        <p class="faci-detail-text">THE SPA</p>
    </section>

    <section class="faci-detail faci-background-swimmingpool">
        <p class="faci-detail-text">SWIMMING POOL</p>
    </section>

    <section class="faci-detail faci-background-restaurant">
        <p class="faci-detail-text">RESTAURANT</p>
    </section>

    <section class="faci-detail faci-background-laundry">
        <p class="faci-detail-text">THE LAUNDRY</p>
    </section>

    <div class="body-end">
        <b><p class="body-end-header">Testimonials</p></b>
        <p class="body-end-text-1">"Calm, Serene, Retro - What a way to relax and enjoy"</p>
        <p class="body-end-text-2">Mr. and Mrs.Baxter, UK</p>
    </div>
</body>