<body>
    <div class="terms-path">
        <b><a href="/">Home</a></b>
        <span></span>
        <b><a href="#">General terms</a></b>
    </div>

    <div class="terms-header">
        <p>GENERAL TERMS</p>
    </div>

    <div class="terms-desc">
        <p>These General Terms <b>(“GT”)</b> apply to Guests and Partners who use or book services at hotels, resorts under the Paradise brand, and other brands owned, managed and/or or exploitation by Paradise (if any) in the future <b>(“Hotel”)</b>. Customers, Partners and Paradise are individually referred to as <b>“Parties”</b> and collectively as <b>“Parties”</b>.</p>
            <br>
        <p>Guest/Partner agrees and acknowledges that by sending Paradise a booking request, event request and/or additional services (collectively, <b>“Service Request”</b>) and having Paradise confirm the service Customers and Partners have read and accepted the GTC, General Regulations <b>(“QR”)</b> and changes to the GTC, QDC from time to time posted on Paradise's official website at <a href="https://pest270904.github.io/Project-Web-App/general-terms.html">https://pest270904.github.io/Project-Web-App/general-terms</a> and <a href="https://pest270904.github.io/Project-Web-App/general-rules.html">https://pest270904.github.io/Project-Web-App/general-rules</a> <b>(“Website”) </b>as well as service provision policies and service quotes announced by Paradise inform, provide.  </p>
            <br>         
        <p>GTC is an inseparable part of the contract, agreement to provide and use services or Service Request confirmed between Paradise and Customers/Partners <b>(“Contract”)</b> .</p>
            <br>
        <h3>ARTICLE 1. DEFINITIONS</h3>
            <br>
        <ol class="terms-desc-list">
            <li><b>“Paradise”</b> means Paradise Joint Stock Company, affiliated companies of Paradise Joint Stock Company and branches, representative offices, business locations of Paradise and affiliated companies of Paradise established nationwide at any given time.</li>
            <li><b>“Partner”</b> is a travel agency/travel agency/business/organization or individual entering into a Contract.</li>
            <li><b>“Customer”</b> is an individual who uses Paradise's services for direct consumption purposes, not for resale to other individuals or organizations.</li>
            <li><b>“A” </b>is understood as Adult. <b>“C”</b> is understood as Children.</li>
            <li><b>“B2B”</b> is a commercial transaction between Business and Business (without the participation of individual Customers).</li>
            <li><b>“B2C”</b> is commercial transactions that take place between businesses and individual customers.</li>
            <li><b>“Published Price”</b> is the room price and service price listed at the Hotel and on website. Room prices may change daily.</li>
            <li><b>“Static Room Price”</b> is a price that does not change according to changes in the published price.</li>
            <li><b>“Room Package Price”</b> is the price for the night stay with the services listed in the corresponding Room Package.</li>
            <li><b>“Room Package”</b> is the common name of the following Reservation Requests and or any new service packages announced by Paradise from time to time:</li>

            <table style="width: 100%;" class="terms-desc-table">
                <tr>
                    <th>NO.</th>
                    <th>Room Package</th>
                    <th>Explain</th>
                    <th>Description</th>
                </tr>
                <tr>
                    <td><b>1</b></td>
                    <td><b>DDR</b></td>
                    <td><b>Deluxe double room</b></td>
                    <td>32 square meters</td>
                </tr>
                <tr>
                    <td><b>2</b></td>
                    <td><b>DTR</b></td>
                    <td><b>Deluxe twin room</b></td>
                    <td>32 square meters</td>
                </tr>
                <tr>
                    <td><b>3</b></td>
                    <td><b>GDDR</b></td>
                    <td><b>Grand deluxe double room</b></td>
                    <td>42 square meters</td>
                </tr>
                <tr>
                    <td><b>4</b></td>
                    <td><b>BV</b></td>
                    <td><b>The beachfront villa</b></td>
                    <td>370 square meters</td>
                </tr>
            </table>

            <li><b>“Services”</b> include accommodation services, event parties, golf, Vouchers or other additional services that Paradise provides from time to time such as transportation, entertainment services...</li>
            <li><b>“Retail Guest”</b> is a Guest or group of Guests with a maximum number of reservations at Service Request of 09 rooms/night or 04 villas/night.</li>
            <li><b>“Guest Group”</b> is a group of Guests with a reservation number at Reservation Request of 10 rooms/night or more or 05 villas/night or more and/or services (banquets, events, golf and other services). other service.</li>
            <li><b>“Series Group”</b> is a group booked in series with at least 3 groups or more following the same schedule.</li>
            <li><b>“Working Day”</b> is the day from Monday to Friday every week, excluding holidays and legal holidays.</li>
            <li><b>“No-Show”</b> is the case where the Guest does not check in until 11:59 p.m. on the check-in date or at another time during the stay as notified by the Guest/Partner and Paradise will return the room to the available room fund for sale. After this deadline without notifying the Guest/Partner if the Guest is not present and checks in.</li>
            <li><b>“QDC”</b> are the regulations that Guests need to comply with during their stay and use of Services at the Hotel and may be amended and supplemented at Paradise's discretion from time to time and posted on the Website. by Paradise.</li>
            <li><b>“Total Service Fee”</b> includes the total Room Package Price for the entire stay and additional services other than those listed in the Room Package.</li>
            <li><b>“Voucher”</b> is a card/voucher for pre-paid Services that exists in physical form or electronic data issued by Paradise to record the right to use the Room Package for the Voucher owner. The use of Voucher must comply with QDC, GTC and detailed regulations of each Voucher.</li>
            <li><b>“Group Service Confirmation”</b> is Paradise's confirmation of the Guest/Partner's Service Request for booking accommodation services, organizing events at the Hotel, vouchers or other additional services of Group Guests. with the contents according to the form issued with these GTC.</li>
            <li><b>“Retail Customer Service Confirmation”</b> is Paradise's confirmation of the Customer/Partner's Service Request for booking accommodation services, vouchers or other additional services of retail customers with the contents according to the attached form. according to these GCC.</li>
        </ol>
            <br>
        <h3>ARTICLE 2. VOUCHER</h3>
            <br>
        <p style="margin: 0 48px; text-align:justify">Unless otherwise agreed or PARADISE has another policy, Customers using Voucher must comply with the provisions in the DKC, QDC, other conditions specified on the Voucher and/or Service provision policy corresponding to the type of Voucher. issued by PARADISE at the time of use by the Customer. Original voucher must be presented and recovered at time of check-in. In case a valid Voucher cannot be presented, the Guest must pay directly according to the Published Price at the time of check-in.</p>
            <br>
        <h3>ARTICLE 3. CHECK IN AND CHECK OUT REGULATIONS</h3>
            <br>
        <ol class="terms-desc-list">
            <li><b>Check-in and check-out times</b>
                <br>
                <i><p style="padding-top: 10px;">Unless otherwise notified and/or confirmed by the Hotel, check-in and check-out regulations apply as follows:</p></i>
                <table style="width: 100%;" class="terms-desc-table">
                    <tr>
                        <th>Category</th>
                        <th>Regulations</th>
                        <th>Note</th>
                    </tr>
                    <tr>
                        <td>Check-in time</td>
                        <td>2:00 p.m. Guest arrives</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Check-out time</td>
                        <td>No later than 12:00 noon on check-out date</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Early check-in fee before 6:00 am</td>
                        <td>100% Price for 1 room night</td>
                        <td rowspan="4">Subject to room availability and PARADISE's confirmation. Fees will have to be paid immediately at the time of confirmation by PARADISE.</td>
                    </tr>
                    <tr>
                        <td>Early check-in fee is from 6:00 a.m. to 12:00 noon</td>
                        <td>50% of Room Package Price includes breakfast. Meals and other services (if needed) will be paid at the published price at the hotel.</td>
                    </tr>
                    <tr>
                        <td>Late check-out fee from after 12:00 a.m. to 9:00 p.m</td>
                        <td>50% of Room Price does not include meals & other services. Meals and incidental services (if needed) will be paid at the published price at the hotel</td>
                    </tr>
                    <tr>
                        <td>Late check-out fee after 9:00 p.m</td>
                        <td>100% Price for 1 room night</td>
                    </tr>
                </table>
                <p>After completing the check-in procedures, the Guest will have to pay the Room Package Rate for the entire stay period as registered with the Hotel, regardless of whether the Guest checks out before the check-out time.</p>
            </li>

            <li>The above mentioned early check-in/late check-out fees will be calculated according to (i) PARADISE's Published Price (including promotional price if applicable at the time of payment) when Guests pay PARADISE directly. or (ii) price according to the contract/agreement (including promotional program price if applicable at the time of payment) between PARADISE and Partner if Partner is the paying party.</li>
            <li>PARADISE will record the image of the Customer's face when checking in for management using Facial Recognition Technology. By agreeing to check in, the Customer is understood to have been informed of this by PARADISE and agrees that PARADISE has the right to use the Customer's image as stipulated in Article 9.</li>
        </ol>
        <h3>ARTICLE 4. BOOKING POLICY</h3>
            <br>
        <ol class="terms-desc-list">
            <li>All Service Requests and Room Allocation Lists of Guests/Partners must be sent to PARADISE in the form of email or text before Guests check in.</li>
            <li>
                <span>In case the Agent books a villa (Villa) for 1 group or many different groups of Guests, the Partner must ensure: </span>
                <ul>
                    <li>Room Package prices are based on the default of 02 adults in 1 hotel room or 01 villa bedroom if not mentioned in the Appendices related to room rates.</li>
                    <li>The Partner needs to inform all Guests that: (i) Guests will be sharing a villa with other guests booking through the Partner; (ii) Guests take care of their personal property when sharing a villa with other guests. Partners bear all related responsibilities if complaints or disputes arise.</li>
                    <li>PARADISE is exempted from responsibility in resolving conflicts/disputes between Guests sharing the villa.</li>
                </ul>
            </li>
            <li><b>Reservation information:</b> details at PL 01</li>
            <li>
                <b><span>Residence regulations:</span></b>
                <ul>
                    <li>The maximum number of Guests per Hotel room (except for special cases clearly stated) applies as follows: (i) Maximum 04 people in 1 bedroom including children under 4 years old: 03A & 01C/ 02A & 02C. (ii) Each room can only book 01 extra bed depending on the policy applied at each hotel. (iii) Surcharge applies for children from 4 years old to under 12 years old and adult surcharge - for guests from 12 years old.</li>
                    <li>The maximum number of Guests per Villa is applied as follows: (i) Each bedroom: maximum 02 A and 02 C for under 12 years old. (ii) Surcharge applies to children from 4 years old to under 12 years old. (iii) No extra beds are allowed in villas, except PARADISE Luxury.</li>
                </ul>
            </li>
            <li><b>Special cases:</b> in some special cases (including but not limited to: force majeure events, Hotel renovation and repair activities, etc.), PARADISE has the right to move Guests to room type/ Other Hotels with standards equivalent to the room type/Hotel that the Guest/Partner has booked and confirmed by PARADISE.</li>
            <li>
                <b><span>Information provided to the Hotel</span></b>
                <ul>
                    <li><b>Information provided before arrival date:</b> (i) List of all Customers (full name, date of birth, gender, identity card/citizen identification card, passport number, nationality, copy of temporary residence card). (ii) Flight information and expected arrival time to the Hotel need to be provided to the Hotel at least 05 days before the Guest's arrival date in case the Guest requests pick-up and drop-off services. (iii) Other special requests such as rooms on high floors, adjacent rooms..., will be accommodated depending on the Hotel's availability at the time of check-in.</li>
                    <li><b>Change information:</b> Any changes in meal and service information arising from the original Service Request need to be sent to the Hotel's reservations department and confirmed by the Reservations Department at least 05 days before the date. Guests check in.</li>
                </ul>
            </li>
            <li>
                <b><span>Check-in procedures</span></b>
                <ul>
                    <li>
                        Guests are required to present ID card or passport and/or Birth Certificate for children and take photos upon check-in for registration purposes, the Hotel will keep a copy of these documents. In case the Guest cannot present the child's birth certificate, the Guest/Partner agrees to use the child's height to determine the child's age, specifically as follows:
                        <table style="width: 100%;" class="terms-desc-table">
                            <tr>
                                <th>Height</th>
                                <th>Age</th>
                            </tr>
                            <tr>
                                <td>< 1m</td>
                                <td>Under 4 years old</td>
                            </tr>
                            <tr>
                                <td>1m-1m40</td>
                                <td>From 4 years old to under 12 years old</td>
                            </tr>
                            <tr>
                                <td>> 1m0</td>
                                <td>From 12 years old</td>
                            </tr>
                        </table>
                    </li>
                    <li>By agreeing to purchase and use PARADISE's services, Guests agree to allow PARADISE to take photos and use Guest's images for statistical and accommodation management purposes. PARADISE commits not to use/provide Guest images to third parties (not part of Vingroup) for other purposes unless required by a competent state agency or with prior consent. of Guest.</li>
                    <li>Guests must make a deposit at the time of check-in to ensure additional Service Requests arising at the Hotel and/or other damages to the Hotel (if any) caused by the Guest during the stay. accommodation period. The deposit will be refunded by PARADISE to the Guest at the time of check-out if the service is not used and/or no damage is incurred to the Hotel. The deposit is made in cash, bank card or credit card with the specific deposit level as follows:
                        <ul>
                            <li>Hotel Room: 1,000,000 VND/room/night</li>
                            <li>Villa: 3,000,000 VND/Villa/night</li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ol>
        <h3>ARTICLE 5. PARADISE PAYMENT ACCOUNT</h3>
        <br>
        <ol class="terms-desc-list">
            <li>Unless paying by credit card, cash or otherwise agreed in writing, Guest/Partner will make payment directly to the account. List of accounts at PL02</li>
            <li><i>Transfer content: (i) Name of Customer/Partner; (ii) Booking Request/Event Request Number; (iii) Payment type (deposit, payment...).</i></li>
            <li>PARADISE has the right to (i) change or add the payment receiving account number mentioned above; and/or (ii) make additional changes to the payment process and notify Customers/Partners in advance in writing or post on the Website.</li>
        </ol>
    </div>
</body>