<!-- Body  -->
<body>
  <div class='terms-path'>
    <b><a href='/'>Home</a></b>
    <span></span>
    <b><a href='#'>Payment regulations</a></b>
  </div>

  <div class='terms-header'>
    <p>PAYMENT REGULATIONS</p>
  </div>

  <div class='terms-desc'>
    <ol class='terms-desc-list'>
      <li>Unless paying by credit card, cash or otherwise agreed in writing,
        Guest/Partner will make payment directly to the account. List of
        accounts at PL02</li>
      <li><i>Transfer content: (i) Name of Customer/Partner; (ii) Booking
          Request/Event Request Number; (iii) Payment type (deposit,
          payment...).</i></li>
      <li>PARADISE has the right to (i) change or add the payment receiving
        account number mentioned above; and/or (ii) make additional changes to
        the payment process and notify Customers/Partners in advance in writing
        or post on the Website.</li>
    </ol>
  </div>
</body>