<body>
    <div class="res-body">
        <h1 class="res-header">Reservation</h1>
        <ul class="res-opt">
            <li><a href="#Upcoming"></a>Upcoming</li>
            <li><a href="#Past"></a>Past</li>
        </ul>
    </div>
    <div class="upcoming-inf-line1">
        <img class="res-img" src="https://github.com/Pest270904/StoreImg/blob/main/NT208/rooms/deluxe-double-room.webp?raw=true" alt="single-room" width="100" height="100">
        <div>
            <h3 class="name-room">DELUXE DOUBLE ROOM</h3>
            <p id="firstline">Check In: 13 Mar 2024</p>
            <p id="firstline">Duration: 2 days</p>
            <p id="firstline">Guests: 2 Adults</p>
            <p id="secondline">$ 278</p>
        </div>
        <div class="btn-res">
            <button type="button" class="btn-res-cancel">Cancel Reservation</button>
        </div>
        <br>
    </div>
    <div class="upcoming-inf-line2">
        <img class="res-img" src="https://github.com/Pest270904/StoreImg/blob/main/NT208/rooms/twin-room.webp?raw=true" alt="double-room" width="100" height="100">
        <div>
            <h3 class="name-room">DELUXE TWIN ROOM</h3>
            <p id="firstline">Check In: 13 Mar 2024</p>
            <p id="firstline">Duration: 1 days</p>
            <p id="firstline">Guests: 2 Adults</p>
            <p id="secondline">$ 139</p>
        </div>
        <div class="btn-res">
            <button type="button" class="btn-res-cancel">Cancel Reservation</button>
        </div>
    </div>
</body>