<body>
    <div class="terms-path">
        <b><a href="/">Home</a></b>
        <span></span>
        <b><a href="#">Reservation regulations</a></b>
    </div>

    <div class="terms-header">
        <p>RESERVATION REGULATIONS</p>
    </div>

    <div class="terms-desc">
        <ol class="terms-desc-list">
            <li>All Service Requests and Room Allocation Lists of Guests/Partners must be sent to PARADISE in the form of email or text before Guests check in.</li>
            <li>
                <span>In case the Agent books a villa (Villa) for 1 group or many different groups of Guests, the Partner must ensure: </span>
                <ul>
                    <li>Room Package prices are based on the default of 02 adults in 1 hotel room or 01 villa bedroom if not mentioned in the Appendices related to room rates.</li>
                    <li>The Partner needs to inform all Guests that: (i) Guests will be sharing a villa with other guests booking through the Partner; (ii) Guests take care of their personal property when sharing a villa with other guests. Partners bear all related responsibilities if complaints or disputes arise.</li>
                    <li>PARADISE is exempted from responsibility in resolving conflicts/disputes between Guests sharing the villa.</li>
                </ul>
            </li>
            <li><b>Reservation information:</b> details at PL 01</li>
            <li>
                <b><span>Residence regulations:</span></b>
                <ul>
                    <li>The maximum number of Guests per Hotel room (except for special cases clearly stated) applies as follows: (i) Maximum 04 people in 1 bedroom including children under 4 years old: 03A & 01C/ 02A & 02C. (ii) Each room can only book 01 extra bed depending on the policy applied at each hotel. (iii) Surcharge applies for children from 4 years old to under 12 years old and adult surcharge - for guests from 12 years old.</li>
                    <li>The maximum number of Guests per Villa is applied as follows: (i) Each bedroom: maximum 02 A and 02 C for under 12 years old. (ii) Surcharge applies to children from 4 years old to under 12 years old. (iii) No extra beds are allowed in villas, except PARADISE Luxury.</li>
                </ul>
            </li>
            <li><b>Special cases:</b> in some special cases (including but not limited to: force majeure events, Hotel renovation and repair activities, etc.), PARADISE has the right to move Guests to room type/ Other Hotels with standards equivalent to the room type/Hotel that the Guest/Partner has booked and confirmed by PARADISE.</li>
            <li>
                <b><span>Information provided to the Hotel</span></b>
                <ul>
                    <li><b>Information provided before arrival date:</b> (i) List of all Customers (full name, date of birth, gender, identity card/citizen identification card, passport number, nationality, copy of temporary residence card). (ii) Flight information and expected arrival time to the Hotel need to be provided to the Hotel at least 05 days before the Guest's arrival date in case the Guest requests pick-up and drop-off services. (iii) Other special requests such as rooms on high floors, adjacent rooms..., will be accommodated depending on the Hotel's availability at the time of check-in.</li>
                    <li><b>Change information:</b> Any changes in meal and service information arising from the original Service Request need to be sent to the Hotel's reservations department and confirmed by the Reservations Department at least 05 days before the date. Guests check in.</li>
                </ul>
            </li>
            <li>
                <b><span>Check-in procedures</span></b>
                <ul>
                    <li>
                        Guests are required to present ID card or passport and/or Birth Certificate for children and take photos upon check-in for registration purposes, the Hotel will keep a copy of these documents. In case the Guest cannot present the child's birth certificate, the Guest/Partner agrees to use the child's height to determine the child's age, specifically as follows:
                        <table style="width: 100%;" class="terms-desc-table">
                            <tr>
                                <th>Height</th>
                                <th>Age</th>
                            </tr>
                            <tr>
                                <td>< 1m</td>
                                <td>Under 4 years old</td>
                            </tr>
                            <tr>
                                <td>1m-1m40</td>
                                <td>From 4 years old to under 12 years old</td>
                            </tr>
                            <tr>
                                <td>> 1m0</td>
                                <td>From 12 years old</td>
                            </tr>
                        </table>
                    </li>
                    <li>By agreeing to purchase and use PARADISE's services, Guests agree to allow PARADISE to take photos and use Guest's images for statistical and accommodation management purposes. PARADISE commits not to use/provide Guest images to third parties (not part of Vingroup) for other purposes unless required by a competent state agency or with prior consent. of Guest.</li>
                    <li>Guests must make a deposit at the time of check-in to ensure additional Service Requests arising at the Hotel and/or other damages to the Hotel (if any) caused by the Guest during the stay. accommodation period. The deposit will be refunded by PARADISE to the Guest at the time of check-out if the service is not used and/or no damage is incurred to the Hotel. The deposit is made in cash, bank card or credit card with the specific deposit level as follows:
                        <ul>
                            <li>Hotel Room: 1,000,000 VND/room/night</li>
                            <li>Villa: 3,000,000 VND/Villa/night</li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ol>
    </div>
</body>