<br><br><br>
	<div class="wrapper">
		<h3>Đánh giá dịch vụ</h3>
		<form action="#">
			<div class="rating">
				<input type="number" name="rating" hidden>
				<i class='fa-solid fa-star' style="--i: 0;"></i>
				<i class='fa-solid fa-star' style="--i: 1;"></i>
				<i class='fa-solid fa-star' style="--i: 2;"></i>
				<i class='fa-solid fa-star' style="--i: 3;"></i>
				<i class='fa-solid fa-star' style="--i: 4;"></i>
			</div>
			<textarea name="opinion" cols="30" rows="5" placeholder="Your opinion..."></textarea>
			<div class="btn-group">
				<button type="submit" class="btn submit">Submit</button>
			</div>
		</form>
		<div id="notification" class="notification"></div>
	</div>
<br><br><br>
<div id="review"></div>
<script src="/js/review.js"></script>