<!-- Home section -->
<section class="home-rooms">
<div class='home-text'>
    <svg>
      <text x='50%' y='50%' dy='.35em' text-anchor='middle'>
        Welcome to Paradise!
      </text>
    </svg>
    <p class="home-text-signature">Awaken all senses with Paradise's classy coastal resort ecosystem</p>
    <button class='book-btn'>
      <i class='fa-regular fa-calendar'></i>
      book now
    </button>
  </div>
</section>


<!-- Body -->
<body>
        <div class="rooms-first-description">
        <p class="rooms-first-description-bigtext">ROOMS AND RATES</p>
        <p class="rooms-first-description-smalltext">Each of our bright, light-flooded rooms come with everything you could possibly need for a comfortable stay. And yes, 
            comfort isn’t our only objective, we also value good design, sleek contemporary furnishing complemented 
            by the rich tones of nature’s palette as visible from our rooms’ sea-view windows and terraces. </p>
    </div>

    <!-- DELUXE DOUBLE ROOM -->
    <div class="room-desc">
    <div style="background-color: rgb(45, 28, 86);height:">                
        <img src="https://github.com/Pest270904/StoreImg/blob/main/NT208/rooms/deluxe-double-room.webp?raw=true" alt="" class="room-desc-img">
    </div>

    <p class="room-desc-name">DELUXE DOUBLE ROOM</p>
    <div class="room-desc-detail">
        <button class="room-desc-detail-button-more" id="btn-desc-1" onclick="roomExpand('btn-desc-1','expd1','view1');">+</button>
        <p class="room-desc-detail-text" id="view1">VIEW ROOM DETAILS</p>

        <button class="room-desc-detail-button-cost">$139 Avg/night</button>
    </div>

    <!-- Expend/collapse contents -->
    <div id="expd1" style="display:none;">
        <div class="room-decription">
        <p class="room-decription-bigtext">Description: </p>
        <p class="room-decription-smalltext"> With an area of 32 square meters, the Deluxe Double Room is a modernly 
            designed hotel room featuring a luxurious double bed and fully integrated amenities for your stay. 
            Enjoy expansive views and a prime location right next to the beach, making it an ideal choice for couples, 
            small families, or business travelers. </p>
        <p class="room-decription-bigtext">Convenient:</p>
        <div class="room-decription-icon">
            <div><img class="room-decription-smallicon" src="https://github.com/Pest270904/StoreImg/blob/main/NT208/icon/air-conditioner.png?raw=true" alt=""> Air-conditioning</div>
            <div><img class="room-decription-smallicon" src="https://github.com/Pest270904/StoreImg/blob/main/NT208/icon/television.png?raw=true" alt=""> Tivi</div>
            <div><img class="room-decription-smallicon" src="https://github.com/Pest270904/StoreImg/blob/main/NT208/icon/minibar.png?raw=true" alt=""> Mini-fridge</div>
            <div><img class="room-decription-smallicon" src="https://github.com/Pest270904/StoreImg/blob/main/NT208/icon/ceiling-fan.png?raw=true" alt=""> Ceiling-fan</div>
        </div>
        <div class="room-decription-icon">
            <div><img class="room-decription-smallicon" src="https://github.com/Pest270904/StoreImg/blob/main/NT208/icon/desk.png?raw=true" alt=""> Desk</div>
            <div><img class="room-decription-smallicon" src="https://github.com/Pest270904/StoreImg/blob/main/NT208/icon/wardrobe.png?raw=true" alt=""> Wardrobe</div>
            <div><img class="room-decription-smallicon" src="https://github.com/Pest270904/StoreImg/blob/main/NT208/icon/bed.png?raw=true" alt=""> King size bed</div>
            <div><img class="room-decription-smallicon" src="https://github.com/Pest270904/StoreImg/blob/main/NT208/icon/safe-deposit.png?raw=true" alt=""> Safe</div>
            </div>
            <div class="room-decription-icon">
            <div><img class="room-decription-smallicon" src="https://github.com/Pest270904/StoreImg/blob/main/NT208/icon/wifi-signal.png?raw=true" alt=""> Wifi</div>
            <div><img class="room-decription-smallicon" src="https://github.com/Pest270904/StoreImg/blob/main/NT208/icon/telephone.png?raw=true" alt=""> Telephone</div>
            <div><img class="room-decription-smallicon" src="https://github.com/Pest270904/StoreImg/blob/main/NT208/icon/floor-lamp.png?raw=true" alt=""> Lamp</div>
            <div><img class="room-decription-smallicon" src="https://github.com/Pest270904/StoreImg/blob/main/NT208/icon/hair-dryer.png?raw=true" alt=""> Hair dryer</div>
            </div>
            <div class="room-decription-icon">
            <div><img class="room-decription-smallicon" src="https://github.com/Pest270904/StoreImg/blob/main/NT208/icon/bathtub.png?raw=true" alt=""> Bathub</div>
            <div><img class="room-decription-smallicon" src="https://github.com/Pest270904/StoreImg/blob/main/NT208/icon/shower.png?raw=true" alt=""> Shower</div>
            <div><img class="room-decription-smallicon" src="https://github.com/Pest270904/StoreImg/blob/main/NT208/icon/bathrobe.png?raw=true" alt=""> Bathrobe</div>
            <div><img class="room-decription-smallicon" src="https://github.com/Pest270904/StoreImg/blob/main/NT208/icon/towel.png?raw=true" alt=""> Towel</div>
            </div>
    </div>
</div>
</div>
<!-- DELUXE TWIN ROOM -->
<div class="room-desc">
    <div style="background-color: rgb(45, 28, 86);">                
        <img src="https://github.com/Pest270904/StoreImg/blob/main/NT208/rooms/twin-room.webp?raw=true" alt="" class="room-desc-img">
    </div>

    <p class="room-desc-name">DELUXE TWIN ROOM</p>
    <div class="room-desc-detail">
        <button class="room-desc-detail-button-more" id="btn-desc-2" onclick="roomExpand('btn-desc-2','expd2','view2');">+</button>
        <p class="room-desc-detail-text" id="view2">VIEW ROOM DETAILS</p>

        <button class="room-desc-detail-button-cost">$139 Avg/night</button>
    </div>
                    
    <!-- Expend/collapse contents -->
    <div id="expd2" style="display:none;">
        <div class="room-decription">
            <p class="room-decription-bigtext">Description: </p>
            <p class="room-decription-smalltext"> With an area of 32 square meters, the Deluxe Twin Room is a modernly designed 
                hotel room featuring two luxurious single beds and fully integrated  amenities for your stay. Enjoy expansive 
                views and a prime location right next to the beach, making it an ideal choice for couples, small families, 
                or business travelers. </p>
            <p class="room-decription-bigtext">Convenient:</p>
            <div class="room-decription-icon">
                <div><img class="room-decription-smallicon" src="https://github.com/Pest270904/StoreImg/blob/main/NT208/icon/air-conditioner.png?raw=true" alt=""> Air-conditioning</div>
                <div><img class="room-decription-smallicon" src="https://github.com/Pest270904/StoreImg/blob/main/NT208/icon/television.png?raw=true" alt=""> Tivi</div>
                <div><img class="room-decription-smallicon" src="https://github.com/Pest270904/StoreImg/blob/main/NT208/icon/minibar.png?raw=true" alt=""> Mini-fridge</div>
                <div><img class="room-decription-smallicon" src="https://github.com/Pest270904/StoreImg/blob/main/NT208/icon/ceiling-fan.png?raw=true" alt=""> Ceiling-fan</div>
            </div>
            <div class="room-decription-icon">
                <div><img class="room-decription-smallicon" src="https://github.com/Pest270904/StoreImg/blob/main/NT208/icon/desk.png?raw=true" alt=""> Desk</div>
                <div><img class="room-decription-smallicon" src="https://github.com/Pest270904/StoreImg/blob/main/NT208/icon/wardrobe.png?raw=true" alt=""> Wardrobe</div>
                <div><img class="room-decription-smallicon" src="https://github.com/Pest270904/StoreImg/blob/main/NT208/icon/bed.png?raw=true" alt=""> Single bed</div>
                <div><img class="room-decription-smallicon" src="https://github.com/Pest270904/StoreImg/blob/main/NT208/icon/safe-deposit.png?raw=true" alt=""> Safe</div>
                </div>
                <div class="room-decription-icon">
                <div><img class="room-decription-smallicon" src="https://github.com/Pest270904/StoreImg/blob/main/NT208/icon/wifi-signal.png?raw=true" alt=""> Wifi</div>
                <div><img class="room-decription-smallicon" src="https://github.com/Pest270904/StoreImg/blob/main/NT208/icon/telephone.png?raw=true" alt=""> Telephone</div>
                <div><img class="room-decription-smallicon" src="https://github.com/Pest270904/StoreImg/blob/main/NT208/icon/floor-lamp.png?raw=true" alt=""> Lamp</div>
                <div><img class="room-decription-smallicon" src="https://github.com/Pest270904/StoreImg/blob/main/NT208/icon/hair-dryer.png?raw=true" alt=""> Hair dryer</div>
                </div>
                <div class="room-decription-icon">
                <div><img class="room-decription-smallicon" src="https://github.com/Pest270904/StoreImg/blob/main/NT208/icon/bathtub.png?raw=true" alt=""> Bathub</div>
                <div><img class="room-decription-smallicon" src="https://github.com/Pest270904/StoreImg/blob/main/NT208/icon/shower.png?raw=true" alt=""> Shower</div>
                <div><img class="room-decription-smallicon" src="https://github.com/Pest270904/StoreImg/blob/main/NT208/icon/bathrobe.png?raw=true" alt=""> Bathrobe</div>
                <div><img class="room-decription-smallicon" src="https://github.com/Pest270904/StoreImg/blob/main/NT208/icon/towel.png?raw=true" alt=""> Towel</div>
                </div>
        </div>
    </div>
</div>
<!-- GRAND DELUXE DOUBLE ROOM -->
<div class="room-desc">
    <div style="background-color: rgb(45, 28, 86);">                
        <img src="https://github.com/Pest270904/StoreImg/blob/main/NT208/rooms/grand-double-room.webp?raw=true" alt="" class="room-desc-img">
    </div>

    <p class="room-desc-name">GRAND DELUXE DOUBLE ROOM</p>
    <div class="room-desc-detail">
        <button class="room-desc-detail-button-more" id="btn-desc-3" onclick="roomExpand('btn-desc-3','expd3','view3');">+</button>
        <p class="room-desc-detail-text" id="view3">VIEW ROOM DETAILS</p>

        <button class="room-desc-detail-button-cost">$179 Avg/night</button>
    </div>
                    
    <!-- Expend/collapse contents -->
    <div id="expd3" style="display:none;">
        <div class="room-decription">
            <p class="room-decription-bigtext">Description: </p>
            <p class="room-decription-smalltext"> With an area of 42 square meters, the Grand Deluxe Double Room is a modernly 
                designed hotel room featuring a luxurious double bed and fully integrated amenities for your stay. 
                Enjoy expansive views and a prime location right next to the beach, making it an ideal choice for couples, 
                small families, or business travelers. </p>
            <p class="room-decription-bigtext">Convenient:</p>
            <div class="room-decription-icon">
                <div><img class="room-decription-smallicon" src="https://github.com/Pest270904/StoreImg/blob/main/NT208/icon/air-conditioner.png?raw=true" alt=""> Air-conditioning</div>
                <div><img class="room-decription-smallicon" src="https://github.com/Pest270904/StoreImg/blob/main/NT208/icon/television.png?raw=true" alt=""> Tivi</div>
                <div><img class="room-decription-smallicon" src="https://github.com/Pest270904/StoreImg/blob/main/NT208/icon/minibar.png?raw=true" alt=""> Mini-fridge</div>
                <div><img class="room-decription-smallicon" src="https://github.com/Pest270904/StoreImg/blob/main/NT208/icon/ceiling-fan.png?raw=true" alt=""> Ceiling-fan</div>
            </div>
            <div class="room-decription-icon">
                <div><img class="room-decription-smallicon" src="https://github.com/Pest270904/StoreImg/blob/main/NT208/icon/desk.png?raw=true" alt=""> Desk</div>
                <div><img class="room-decription-smallicon" src="https://github.com/Pest270904/StoreImg/blob/main/NT208/icon/wardrobe.png?raw=true" alt=""> Wardrobe</div>
                <div><img class="room-decription-smallicon" src="https://github.com/Pest270904/StoreImg/blob/main/NT208/icon/bed.png?raw=true" alt=""> King size bed</div>
                <div><img class="room-decription-smallicon" src="https://github.com/Pest270904/StoreImg/blob/main/NT208/icon/safe-deposit.png?raw=true" alt=""> Safe</div>
                </div>
                <div class="room-decription-icon">
                <div><img class="room-decription-smallicon" src="https://github.com/Pest270904/StoreImg/blob/main/NT208/icon/wifi-signal.png?raw=true" alt=""> Wifi</div>
                <div><img class="room-decription-smallicon" src="https://github.com/Pest270904/StoreImg/blob/main/NT208/icon/telephone.png?raw=true" alt=""> Telephone</div>
                <div><img class="room-decription-smallicon" src="https://github.com/Pest270904/StoreImg/blob/main/NT208/icon/floor-lamp.png?raw=true" alt=""> Lamp</div>
                <div><img class="room-decription-smallicon" src="https://github.com/Pest270904/StoreImg/blob/main/NT208/icon/hair-dryer.png?raw=true" alt=""> Hair dryer</div>
                </div>
                <div class="room-decription-icon">
                <div><img class="room-decription-smallicon" src="https://github.com/Pest270904/StoreImg/blob/main/NT208/icon/bathtub.png?raw=true" alt=""> Bathub</div>
                <div><img class="room-decription-smallicon" src="https://github.com/Pest270904/StoreImg/blob/main/NT208/icon/shower.png?raw=true" alt=""> Shower</div>
                <div><img class="room-decription-smallicon" src="https://github.com/Pest270904/StoreImg/blob/main/NT208/icon/bathrobe.png?raw=true" alt=""> Bathrobe</div>
                <div><img class="room-decription-smallicon" src="https://github.com/Pest270904/StoreImg/blob/main/NT208/icon/towel.png?raw=true" alt=""> Towel</div>
                </div>
        </div>
    </div>
</div>
    <!-- THE BEACHFRONT VILLA -->
<div class="room-desc">
    <div style="background-color: rgb(45, 28, 86);">                
        <img src="https://github.com/Pest270904/StoreImg/blob/main/NT208/rooms/The-frontbeach-villa.webp?raw=true" alt="" class="room-desc-img">
    </div>

    <p class="room-desc-name">THE BEACHFRONT VILLA</p>
    <div class="room-desc-detail">
        <button class="room-desc-detail-button-more" id="btn-desc-4" onclick="roomExpand('btn-desc-4','expd4','view4');">+</button>
        <p class="room-desc-detail-text" id="view4">VIEW ROOM DETAILS</p>

        <button class="room-desc-detail-button-cost">$439 Avg/night</button>
    </div>
                    
    <!-- Expend/collapse contents -->
    <div id="expd4" style="display:none;">
        <div class="room-decription">
            <p class="room-decription-bigtext">Description: </p>
            <p class="room-decription-smalltext"> With an area of 370 square meters and 3 bedrooms, this luxurious villa boasts 
                a smart design and fully integrated amenities for your stay. Enjoy sweeping ocean views, spacious two-story layout, 
                windows facing the sea, and a private secluded swimming pool. 
                This will be an ideal choice for families, groups of leisure travelers, or business retreats. </p>
            <p class="room-decription-bigtext">Convenient:</p>
            <div class="room-decription-icon">
                <div><img class="room-decription-smallicon" src="https://github.com/Pest270904/StoreImg/blob/main/NT208/icon/air-conditioner.png?raw=true" alt=""> Air-conditioning</div>
                <div><img class="room-decription-smallicon" src="https://github.com/Pest270904/StoreImg/blob/main/NT208/icon/television.png?raw=true" alt=""> Tivi</div>
                <div><img class="room-decription-smallicon" src="https://github.com/Pest270904/StoreImg/blob/main/NT208/icon/minibar.png?raw=true" alt=""> Mini-fridge</div>
                <div><img class="room-decription-smallicon" src="https://github.com/Pest270904/StoreImg/blob/main/NT208/icon/ceiling-fan.png?raw=true" alt=""> Ceiling-fan</div>
            </div>
            <div class="room-decription-icon">
                <div><img class="room-decription-smallicon" src="https://github.com/Pest270904/StoreImg/blob/main/NT208/icon/desk.png?raw=true" alt=""> Desk</div>
                <div><img class="room-decription-smallicon" src="https://github.com/Pest270904/StoreImg/blob/main/NT208/icon/wardrobe.png?raw=true" alt=""> Wardrobe</div>
                <div><img class="room-decription-smallicon" src="https://github.com/Pest270904/StoreImg/blob/main/NT208/icon/bed.png?raw=true" alt=""> King size bed</div>
                <div><img class="room-decription-smallicon" src="https://github.com/Pest270904/StoreImg/blob/main/NT208/icon/safe-deposit.png?raw=true" alt=""> Safe</div>
                </div>
                <div class="room-decription-icon">
                <div><img class="room-decription-smallicon" src="https://github.com/Pest270904/StoreImg/blob/main/NT208/icon/wifi-signal.png?raw=true" alt=""> Wifi</div>
                <div><img class="room-decription-smallicon" src="https://github.com/Pest270904/StoreImg/blob/main/NT208/icon/telephone.png?raw=true" alt=""> Telephone</div>
                <div><img class="room-decription-smallicon" src="https://github.com/Pest270904/StoreImg/blob/main/NT208/icon/floor-lamp.png?raw=true" alt=""> Lamp</div>
                <div><img class="room-decription-smallicon" src="https://github.com/Pest270904/StoreImg/blob/main/NT208/icon/hair-dryer.png?raw=true" alt=""> Hair dryer</div>
                </div>
                <div class="room-decription-icon">
                <div><img class="room-decription-smallicon" src="https://github.com/Pest270904/StoreImg/blob/main/NT208/icon/bathtub.png?raw=true" alt=""> Bathub</div>
                <div><img class="room-decription-smallicon" src="https://github.com/Pest270904/StoreImg/blob/main/NT208/icon/shower.png?raw=true" alt=""> Shower</div>
                <div><img class="room-decription-smallicon" src="https://github.com/Pest270904/StoreImg/blob/main/NT208/icon/bathrobe.png?raw=true" alt=""> Bathrobe</div>
                <div><img class="room-decription-smallicon" src="https://github.com/Pest270904/StoreImg/blob/main/NT208/icon/towel.png?raw=true" alt=""> Towel</div>
                </div>
        </div>
    </div>
</div>
    <div class="body-end">
        <b><p class="body-end-header">Testimonials</p></b>
        <p class="body-end-text-1">"Calm, Serene, Retro - What a way to relax and enjoy"</p>
        <p class="body-end-text-2">Mr. and Mrs.Baxter, UK</p>
    </div>
</body>