<!-- REGISTER FORM -->
<html>
  <body>
    <a href="/"><img class= "logo" src='/img/header-footer/Group2.svg' alt="login" /></a>   
    <div class='login-form' id="signup-form">
      <form action='' method='post' class='form' id='form-1'>
        <h2 class='heading'>REGISTER</h2>
        {{#if error}}
            <div class='error'>{{error}}, please try again.</div>
        {{else}}
            <div class='spacer'></div>
        {{/if}}
        
        {{!-- username --}}
        <div class='form-group'>
          <label for='username' class='form-label'>Username</label>
          <input id='username' name='username' type='text' placeholder='Ex: paradiseuit' class='form-control'/>
          <span class='form-message'></span>
        </div>

        {{!-- full name --}}
        <div class='form-group'>
          <label for='fullName' class='form-label'>Fullname</label>
          <input id='fullName' name='fullName' type='text' placeholder='Ex: John Alex' class='form-control'/>
          <span class='form-message'></span>
        </div>

        {{!-- email --}}
        <div class='form-group'>
          <label for='email' class='form-label'>Email</label>
          <input id='email' name='email' type='text' placeholder='Ex: abc@gmail.com' class='form-control'/>
          <span class='form-message'></span>
        </div>

        {{!-- phoneNumber --}}
        <div class='form-group'>
          <label for='phoneNumber' class='form-label'>Phone number</label>
          <input id='phoneNumber' name='phoneNumber' type='text' placeholder='Ex: 0123456789'class='form-control'/>
          <span class='form-message'></span>
        </div>

        {{!-- password --}}
        <div class='form-group'>
          <label for='password' class='form-label'>Password</label>
          <input id='password' name='password' type='password' placeholder='Enter your password' class='form-control'
          />
          <span class='form-message'></span>
        </div>

        {{!-- confirm password --}}
        <div class='form-group'>
          <label for='password-confirmation' class='form-label'>Confirm Password</label>
          <input id='password_confirmation' name='password_confirmation' type='password' placeholder='Confirm password' class='form-control'/>
          <span class='form-message'></span>
        </div>

        {{!-- button for submit --}}
        <div class='form-group' style="margin-top: 1rem">
          <button class='form-submit'>Register</button>
        </div>
        <a href="login">Already have an account?</a>
      </form>
    </div>
    <script src='/js/form-validation.js'></script>
    <script>
      Validator({ 
        form: '#form-1', 
        rules: [ 
          Validator.isRequired('#username'),
          Validator.isRequired('#password'), 
          Validator.isEmail('#email')
        ] 
      });
    </script>
  </body>
</html>