<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VNPAY Success</title>
    <link rel="icon" href="/img/header-footer/logo.webp">
    <link rel="stylesheet" href="/css/vnpay_return.css" />
</head>
<body>
    <div class="container">
        <div class="message">
            <h1>Thanh toán thành công!</h1>
            <p><strong>Mã phòng:</strong> RoomCode123</p>
            <p><strong>Số phòng:</strong> 101</p>
            <p><strong>Tên người đặt:</strong> John Doe</p>
            <p><strong>Số tiền:</strong> $100</p>
            <p><strong>Ngày đặt phòng:</strong> 2024-05-23</p>
        </div>
    </div>
</body>
</html>
