<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VNPAY Failure</title>
    <link rel="icon" href="/img/header-footer/logo.webp">
    <link rel="stylesheet" href="/css/vnpay_return.css" />
</head>
<body>
    <div class="container">
        <div class="message">
            <h1 id="red-text">Thanh toán thất bại</h1>
            <h1 id="red-text">Vui lòng kiểm tra lại tài khoản</h1>
            <button id="backToReservationBtn" class="button red">Quay về trang đặt phòng</button>
        </div>
    </div>
    <script src="/js/vnpay_return.js"></script>
</body>
</html>
