.chat {
    position: relative;
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    background: #fff;
    display: flex;
    border-left: 1px solid #dbc7c7;
  }
.chat .leftSide {
    position: relative;
    flex: 30%;
    background: #fff;
}
.chat .rightSide {
    position: relative;
    flex: 70%;
    background: #edeae7;
}
.header {
    position: relative;
    width: 100%;
    height: 60px;
    background: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
  }
.chat .leftSide .header-left {
    height: 60px;
    padding: 0 15px;
}
/* search */
.search_chat {
    position: relative;
    width: 100%;
    height: 50px;
    background: #f6f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
  }
  
  .search_chat div {
    width: 100%;
  }
  
  .search_chat div input {
    width: 100%;
    outline: none;
    border: none;
    background: #fff;
    padding: 6px;
    height: 38px;
    border-radius: 30px;
    font-size: 14px;
    padding-left: 40px;
  }
  
  .search_chat div input::placeholder {
    color: #bbb;
  }

  .search_chat div i {
    position: absolute;
    left: 30px;
    top: 14px;
    font-size: 1.2em;
  }
  /* chat list */
  .chatlist {
    position: relative;
    /* height: 100%; */
    overflow: auto;
  }
  
  .chatlist .block {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
    cursor: pointer;
  }
  
  .chatlist .block.active {
    background: #ebebeb;
  }
  
  .chatlist .block:hover {
    background: #f5f5f5;
  }
  
  .chatlist .block .imgBox {
    position: relative;
    min-width: 45px;
    height: 45px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .chatlist .block .details {
    position: relative;
    width: 100%;
  }
  
  .chatlist .block .details .listHead {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }
  
  .chatlist .block .details .listHead h4 {
    font-size: 1.1em;
    font-weight: 600;
    color: #111;
  }
  
  .chatlist .block .details .listHead .time {
    font-size: 0.75em;
    color: #aaa;
  }
  
  .chatlist .block .details .listHead .time {
    color: #111;
  }
  
  .chatlist .block.unread .details .listHead .time {
    color: #06d755;
  }

  .message_p {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .message_p b {
    background: #06d755;
    color: #fff;
    min-width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.75rem;
  }
  
  .message_p p {
    color: #aaa;
    font-size: 0.9em;
    overflow: hidden;
    width: 300px;
    display: block;
    text-overflow: ellipsis;
  }
  
  .imgText {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .imgText h4 {
    font-weight: 500;
    line-height: 1.2em;
    margin-left: 15px;
  }
/* chat box */
.chatbox {
    position: relative;
    /* width: 100%; */
    height: calc(100% - 60px);
    padding: 50px;
    overflow-y: auto;
  }
  .no-content{
    z-index: 100;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0.2;
}
.no-content i{
    font-size: 200px;
    color: var(--main-color);
    margin-bottom: 30px;
}
  .message {
    position: relative;
    display: flex;
    width: 100%;
    overflow-y: auto;
    margin: 10px 0;
  }
  
  .message p {
    position: relative;
    right: 0;
    /* text-align: right; */
    max-width: 450px;
    padding: 12px;
    background: #dcf8c8;
    border-radius: 10px 10px 0px 10px;
    font-size: 0.9em;
    word-wrap: break-word;
  }
 
  .my_msg {
    justify-content: flex-end;
  }
  
  .friend_msg {
    justify-content: flex-start;
  }
  
  .friend_msg p {
    background: #fff;
    text-align: left;
    border-radius: 10px 10px 10px 0px;
  }
   .chat_input {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background: #f0f0f0;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  } 
  .chat_input input {
    position: relative;
    width: 90%;
    margin: 0 20px;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 30px;
    font-size: 1em;
  }
  .chat_input span {
    cursor: pointer;
    font-size: 1.35em;
    color: #e0b973;
    margin-right: 15px;
}


  