footer * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
footer {
  border-top-left-radius: 4em;
  background: linear-gradient(180deg, #e2b86b, #dfa73f);
}
footer ul {
  list-style: none;
}
footer p {
  color: #111;
  max-width: 27em;
  font-size: 0.9rem;
  line-height: 23px;
}
footer a {
  color: #111;
  text-decoration: none;
}
footer h3 {
  margin-bottom: 1em;
}
footer .container {
  max-width: 100%;
  margin: 0;
  padding: 2em;
}
.footer {
  position: relative;
  background-size: cover;
}
.footer::before {
  content: '';
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.footer .container {
  position: relative;
}
.footer .footer-top .container, .footer .col2 {
  display: flex;
  justify-content: space-between;
  gap: 2em;
}
.footer .menu li {
  margin-bottom: 0.6rem;
}
.footer .menu a:hover {
  text-decoration: underline;
}
#logo {
  width: 20em;
  height: 16em;
}
.qr-img {
  width: 6.4em;
  height: 6.4em;
  margin: 1em 3em;
}
.input-wrap {
  display: inline-block;
}
.media-icons li {
  display: inline-block;
  margin: 0.5rem 0.5rem 0.5rem 0;
}
.media-icons i {
  font-size: 1.1rem;
  width: 2em;
  height: 2em;
  border: 1px #111 solid;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.media-icons i:hover {
  background: #fff;
  color: #111;
}
.col3 form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #fff;
}
.col3 form input {
  background: transparent;
  border: 0;
  outline: none;
}
/* Responsive design */
/* tablet */
@media only screen and (min-width: 740px) and (max-width: 1023px) {
  .footer .footer-top .container {
    flex-direction: column;
    align-items: center;
  }
  .footer .col1, .footer .col2, .footer .col3 {
    width: 100%;
    margin-bottom: 1.5em;
    text-align: center;
  }
  .footer .col2 {
    flex-direction: column;
    align-items: center;
  }
  .footer .col2 ul {
    margin-bottom: 1em;
  }
  #logo {
    width: 15em;
    height: 12em;
  }
  .qr-img {
    width: 5em;
    height: 5em;
    margin: 1em auto;
  }
  .media-icons li {
    margin: 0.3rem;
  }
}
/* mobile */
@media only screen and (max-width: 739px) {
  .footer .footer-top .container {
    flex-direction: column;
    align-items: center;
  }
  .footer .col1, .footer .col2, .footer .col3 {
    width: 100%;
    margin-bottom: 1.5em;
    text-align: center;
  }
  .footer .col2 {
    flex-direction: column;
    align-items: center;
  }
  .footer .col2 ul {
    margin-bottom: 1em;
  }
  #logo {
    width: 10em;
    height: 8em;
  }
  .qr-img {
    width: 4em;
    height: 4em;
    margin: 1em auto;
  }
  .media-icons li {
    margin: 0.2rem;
  }
}
