.home-desc{
    text-align: center;
    margin: 2% 18%;
    font-weight: bold;
    font-size: 23px;
}
.home-desc-detail{
    margin: 0% 17%;
    display: flex;
}
.home-desc-detail-text{
    margin: 11% 0;
    border-left: 3px solid #e0b973;
    padding-left: 3%;
    font-family:Arial, Helvetica, sans-serif;
}
.home-desc-detail-text-1{
    font-weight: bold;
    font-size: 26px;
}
.home-desc-detail-text-2{
    margin-top: 3%;
    font-size: 16px;
    padding-right: 22%;
}
.home-desc-detail-button{
    margin-top: 3%;
}
.home-desc-detail-button-texture{
    background-color: #e0b973;
    padding: 12px 30px;
    color: black;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 8px;
    border: 2px solid #e0b973;
}
.home-desc-detail-button-texture:hover{
    background-color: white;
    color: black;
}
.home-desc-detail-img{
    margin: 6% 0;
}
.home-desc-detail-img-style{
    width: 450px;
    height: 265px;
}
/* Responsive design */
/* tablet */
@media only screen and (min-width: 740px) and (max-width: 1023px) {
    .home-desc {
      margin: 2% 10%;
      font-size: 18px;
    }
    .home-desc-detail {
      margin: 0% 8%;
    }
    .home-desc-detail-text-1 {
      font-size: 20px;
    }
    .home-desc-detail-text-2 {
      font-size: 14px;
      padding-right: 0%;
    }
    .home-desc-detail-img-style {
        width: 350px;
        height: 207px;
    }
  }
  
  /* Mobile */
  @media only screen and (max-width: 739px) {
    .home {
      height: max-content;
    }
    .home-text h1 {
      font-size: 35px;
    }
    .home-desc {
      margin: 2% 5%;
      font-size: 16px;
    }
    .home-desc-detail {
      margin: 0% 5%;
      flex-direction: column;
      align-items: center;
    }
    .home-desc-detail-img-style {
        width: 300px;
        height: 177px;
    }
    .home-desc-detail-text-1 {
      font-size: 18px;
    }
    .home-desc-detail-text-2 {
      font-size: 12px;
      padding-right: 0%;
    }
    .home-desc-detail-button-texture {
      padding: 8px 20px;
      font-size: 10px;
    }
  }