:root {
  --primary-color: #e2af50;
  background-color: #f1f1f1;
}
*{ 
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
 }
img {
  width: 100px;
  max-width: 150px;
  margin-top: 0;
  margin-left: 50px;
}
.login-form {
  display: flex;
  justify-content: center;
}
.form {
  width: 400px;
  min-height: 300px;
  background-color: #fff;
  padding: 15px 30px;
  text-align: center;
  align-self: center;
  box-shadow: 0 2px 5px 0 rgba(51, 62, 73, 0.1);
  border-radius: 5px;
}
.spacer {
  margin: 36px;
}
.form-group {
  text-align: start;
  display: flex;
  flex-direction: column;
  margin-bottom: 0.6rem;
}
.form .heading {
  font-size: 2rem;
  color: var(--primary-color);
}
.form-label {
  font-size: 1.5rem;
  margin-bottom: 0.75rem;
  font-weight: 650;
  line-height: 1.8rem;
  color: var(--primary-color);
}
.form-control {
  height: 35px;
  padding: 10px;
  border-radius: 4px;
  border: solid 1px #333;
  transition: all 0.8s;
}
.form-control:hover {
  border-color: var(--primary-color);
}
.form-submit {
  height: 3.4rem;
  border-radius: 5px;
  border: none;
  background-color: var(--primary-color);
  color: #fff;
  font-size: 1.7rem;
  font-weight: 600;
  margin: 8px 0;
  cursor: pointer;
  transition: all 0.5s;
}
.form-submit:hover {
  background-color: #37290f;
}