:root {
  --primary-color: #e2af50;
}
*{ 
  margin: 0;
  padding: 0;
  border: 0;

 }
 body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url("../img/index/slogan.png");
  background-size: cover; /* Hình ảnh sẽ được co giãn hoặc co dãn để phủ đầy toàn bộ background */
  background-position: center; /* Căn giữa hình ảnh */
  background-repeat: no-repeat; /* Ngăn hình ảnh lặp lại */
}
 .logo {
  width: 100px;
  max-width: 150px;
  margin-top: 0;
  margin-left: 50px;
  position: absolute;
}
#login-form{
  height: 98vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
#signup-form{
  height: 98vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.form {
  height: 95vh;
  width: 450px;
  background-color: #fff;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  text-align: center;
  align-self: center;
  box-shadow: 0 2px 5px 0 rgba(19, 113, 207, 0.1);
  border-radius: 30px 0 0 0;
}
.spacer {
  margin: 30px;
}

.error {
  margin: 3% 0;
  padding: 2% 1%;
  color: black;
  font-size: 1rem;
  font-style: italic;
  background-color: rgb(228, 146, 162);
  border-radius: 4px;
}

.form-group {
  text-align: start;
  display: flex;
  flex-direction: column;
  margin-bottom: 0.3rem;
}
.form .heading {
  font-size: 2rem;
  color: var(--primary-color);
}
.form-label {
  font-size: 1.5rem;
  margin-bottom: 0.75rem;
  font-weight: 650;
  line-height: 1.6rem;
  color: var(--primary-color);
}
.form-control {
  height: 35px;
  padding: 10px;
  border-radius: 4px;
  border: solid 1px #929191;
  transition: all 0.8s;
}
.form-control:hover {
  border-color: var(--primary-color);
}
.form-submit {
  height: 3.4rem;
  border-radius: 5px;
  border: solid 0,5px #eef3f148;
  background-color: var(--primary-color);
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  margin: 8px 0;
  cursor: pointer;
  transition: all 0.5s;
}
.form-submit:hover {
  background-color: #eecf43;
}