.res-body {
  margin-top: 200px;
}
.res-header {
  margin-left: 50px;
}
.res-opt {
  list-style-type: none;
  overflow: hidden;
  background-color: white;
  margin-left: 30px;
}
.res-opt li {
  display: inline;
  color: black;
  margin: 0 20px;
  text-decoration: none;
  justify-content: space-between;
}
.res-opt li:hover {
  border-bottom: solid;
}
.res-img {
  margin-left: 50px;
  border-radius: 4px;
}
.upcoming-inf-line {
  margin: 2% 3%;
  display: inline-flex;
  width: 100%;
}
.name-room {
  padding-left: 20px;
}
#firstline {
  display: inline-flex;
  padding-left: 5%;
}
#secondline {
  padding-left: 5%;
}
.btn-res {
  position: absolute;
  right: 8%;
  margin-top: 2%;
}
.btn-res-cancel {
  height: 30px;
  width: 130px;
  background-color: #e0b973;
  color: white;
  padding: 1px;
  font-size: 16px;
  border-radius: 20px;
  border: 2px solid #e0b973;
}
.btn-res-cancel:hover {
  background-color: white;
  color: black;
}

.btn-res-pending {
  height: 30px;
  width: 130px;
  background-color: gray;
  color: white;
  padding: 1px;
  font-size: 16px;
  border-radius: 20px;
  border: 2px solid black;
}
.btn-res-pending:hover {
  background-color: white;
  color: black;
}
.btn-res-completed {
  height: 30px;
  width: 130px;
  background-color: #34c417;
  color: white;
  padding: 1px;
  font-size: 16px;
  border-radius: 20px;
  border: 2px solid #233b06;
  text-align: center;
}
