.res-body {
    margin-top: 200px;
}
.res-header {
    margin-left: 50px;
}
.res-opt {
    list-style-type: none;
    overflow: hidden;
    background-color: white;
    margin-left: 30px;
}
.res-opt li {
    display: inline;
    color: black;
    margin: 0 20px;
    text-decoration: none;
    justify-content: space-between;
}
.res-opt li:hover {
    border-bottom: solid; 
}
.res-img {
    margin-left: 50px;
    border-radius: 4px;
}
.upcoming-inf-line {
    margin-top: 20px;
    display: inline-flex;
    width: 100%;
}
.name-room  {
    padding-left: 20px;
}
#firstline
{
    display: inline-flex;
    padding-left: 20px;
}
#secondline
{
    padding-left: 20px;
}
.btn-res {
    position: absolute;
    right: 150px;
    margin-top: 30px;
}
.btn-res-cancel {
    height: 30px;
    width: 160px;
    background-color: #e0b973;
    color: white;
    padding: 1px;
    font-size: 16px;
    border-radius: 20px;
    border: 2px solid #e0b973;
}
.btn-res-cancel:hover {
    background-color: white;
    color: black;
}

.btn-res-pending {
    height: 30px;
    width: 160px;
    background-color: gray;
    color: white;
    padding: 1px;
    font-size: 16px;
    border-radius: 20px;
    border: 2px solid black;
}
.btn-res-pending:hover {
    background-color: white;
    color: black;
}