.home-rooms {
    position: relative;
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(21, 21, 21, 0.5), rgba(30, 30, 30, 0.5)),  url(../img/rooms/grand-double-room.webp);
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
}

.rooms-first-description{
    text-align: center;
    margin: 3% 25% 3% 25%;
}

.rooms-first-description-bigtext{
    font-size: 30px;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.rooms-first-description-smalltext{
    margin-top: 1%;
    font-size: 12px;
}

.room-desc{
    margin: 3% 13% 5% 13%;
    border: 2px solid rgb(89, 12, 183);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.room-desc-img{
    width: 100%;
}

.room-desc-name{
    padding: 1% 0 2% 0;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    background-color: rgb(45, 28, 86);
}

.room-desc-detail{
    display: flex;
    margin: 4% 0 ;
    align-items: center;
}

.room-desc-detail-button-more{
    display: inline-block;
    border-radius: 50%;
    border: 2px solid #e0b973;
    color:white;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    width: 30px;
    height: 30px;
    background-color: #e0b973;
    margin-left: 18%;
    position: relative;
}

.room-desc-detail-button-more:hover{
    background-color: white;
    color: black;
}

/* .room-desc-detail-button-more::after{
    content: var(--btn-content);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s ease-in-out;
} */

.room-desc-detail-text{
    padding-left: 3%;
    padding-top: 2px;
    font-weight: bold;
    font-size: 15px;
    width: 200px;
}

.room-desc-detail-button-cost{
    border: 2px solid #e0b973;
    background-color: #e0b973;
    color: white;
    text-align: center;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    border-radius: 8px;
    padding: 10px 24px;
    margin-left: 30%;
}

.room-desc-detail-button-cost:hover{
    background-color: white;
    color: black;   
}
.room-decription-bigtext
{
    font-size: 18px;
    font-weight: 700;
    padding-left: 10px;
}
.room-decription-smalltext
{
    font-size: 17px;
    padding: 13px;
}
.room-decription-icon
{
    margin-top: 5px;
    margin-left: 70px;
    width: 18%;
    font-size: 16px;
    display: inline-block;
    padding: 10px;
}
.room-decription-smallicon
{
    width: 19x;
    height: 18px;
}
