.home-rooms {
    position: relative;
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(21, 21, 21, 0.5), rgba(30, 30, 30, 0.5)),  url(/img/rooms/grand-double-room.webp);
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
}

.rooms-first-description{
    text-align: center;
    margin: 3% 25% 3% 25%;
}

.rooms-first-description-bigtext{
    font-size: 30px;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.rooms-first-description-smalltext{
    margin-top: 1%;
    font-size: 12px;
}

.room-desc{
    margin: 3% 13% 5% 13%;
    border: 2px solid rgb(89, 12, 183);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.room-desc-img{
    width: 100%;    
}

.room-desc-name{
    padding: 1% 0 2% 0;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    background-color: rgb(45, 28, 86);
}

.room-desc-detail{
    display: flex;
    margin: 4% 0 ;
    align-items: center;
}

.room-desc-detail-button-more{
    display: inline-block;
    border-radius: 50%;
    border: 2px solid #e0b973;
    color:white;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    width: 30px;
    height: 30px;
    background-color: #e0b973;
    margin-left: 18%;
    position: relative;
}

.room-desc-detail-button-more:hover{
    background-color: white;
    color: black;
}

/* .room-desc-detail-button-more::after{
    content: var(--btn-content);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s ease-in-out;
} */

.room-desc-detail-text{
    padding-left: 3%;
    padding-top: 2px;
    font-weight: bold;
    font-size: 15px;
    width: 200px;
}

.room-desc-detail-booking {
    padding-top: 1%;
    margin: auto;
    align-items: center;
}

.room-desc-detail-button-cost{
    border: 2px solid #e0b973;
    background-color: #e0b973;
    color: white;
    text-align: center;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    border-radius: 8px;
    padding: 10px 24px;
}

.room-desc-detail-available {
    text-align: center;
    font-size: 12px;
    font-style: italic;
}

.room-desc-detail-button-cost:hover{
    background-color: white;
    color: black;   
}
.room-description-bigtext
{
    font-size: 18px;
    font-weight: 700;
    padding-left: 10px;
}
.room-description-smalltext
{
    font-size: 17px;
    padding: 13px;
}
.room-description-icon
{
    margin-top: 5px;
    margin-left: 70px;
    width: 18%;
    font-size: 16px;
    display: inline-block;
    padding: 10px;
}
.room-description-smallicon
{
    width: 19x;
    height: 18px;
}
/* Responsive Design */
 /* Tablet */
 @media only screen and (min-width: 740px) and (max-width: 1023px) {
    .home-rooms {
        height: max-content;
    }
    .rooms-first-description {
        margin: 3% 10%;
    }
    .rooms-first-description-bigtext {
        font-size: 25px;
    }
    .rooms-first-description-smalltext {
        font-size: 15px;
    }
    .room-desc {
        margin: 3% 5% 5% 5%;
    }
    .room-desc-detail-button-more {
        margin-left: 15%;
    }
    .room-desc-detail-button-cost {
        font-size: 13px;
        padding: 8px 20px;
        margin-left: 15%;
    }
    .room-desc-detail-text {
        font-size: 12px;
        width: 150px;
    }
    .room-description-bigtext {
        font-size: 18px;
        padding-left: 5px;
    }
    .room-description-smalltext {
        font-size: 13px;
        padding: 8px;
    }
    .room-description-icon {
        margin-top: 5px;
        margin-left: 40px;
        width: 18%;
        font-size: 10px;
    }
 }
 /* mobile */
@media only screen and (max-width: 739px) {
    .home-rooms {
        height: max-content;
    }
    .rooms-first-description {
        margin: 3% 5%;
    }
    .rooms-first-description-bigtext {
        font-size: 20px;
    }
    .rooms-first-description-smalltext {
        font-size: 12px;
    }
    .room-desc {
        margin: 3% 5% 5% 5%;
    }
    .room-desc-detail-button-more {
        margin-left: 10%;
    }
    .room-desc-detail-button-cost {
        font-size: 10px;
        padding: 6px 15px;
        margin-left: 10%;
    }
    .room-desc-detail-text {
        font-size: 10px;
        width: 100px;
    }
    .room-description-bigtext {
        font-size: 18px;
        padding-left: 3px;
    }
    .room-description-smalltext {
        font-size: 10px;
        padding: 6px;
    }
    .room-description-icon {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Chia thành 2 cột có độ rộng bằng nhau */
        gap: 10px; /* Khoảng cách giữa các biểu tượng */
        width: 100%;
        padding: 0 10px; /* Căn đều hai bên */
        box-sizing: border-box;
    }    
    .room-description-smallicon {
        width: 24px; /* Độ rộng của biểu tượng */
        height: 24px; /* Độ cao của biểu tượng */
        margin-right: 10px; /* Khoảng cách giữa biểu tượng và văn bản */
        vertical-align: middle; /* Căn giữa theo chiều dọc với văn bản */
    }    
    .room-description-icon div {
        display: flex;
        align-items: center;
        font-size: 7px;
    }    
}