@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
:root {
  --primary-color: #e0b973;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.logo img {
  max-width: 149px;
  height: 256;
  margin-top: 0%;
  margin-left: 50px;
}
.logo-wrapper {
  width: 280px;
  height: auto;
}
.slogan {
  color: black;
  font-weight: bold;
}
body {
  background: white;
  color: black;
  font-family: "Poppins", sans-serif;
}
header {
  background-color: rgb(255, 255, 255);
  height: 10vh;
  line-height: 6vh;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background: transparent; */
  transition: ease 0.4s;
}
.navlinks {
  display: flex;
}
.navlinks a{
  display: inline-block;
  text-transform: uppercase;
  color: black;
  margin: 0 10px;
  transition: 0.1s;
  text-decoration: none;
}
.navlinks li > i:hover {
  color: var(--primary-color);
}
.navlinks a:hover {
  color: var(--primary-color);
  text-decoration: underline;
}
.navlinks li {
  list-style: none;
  padding: 10px 20px;
}
.menu {
  color: black;
  font-size: 30px;
  z-index: 10001;
  cursor: pointer;
  display: none;
}
button {
  border: none;
  background: none;
  outline: none;
  transition: 0.5s;
  cursor: pointer;
}
.btn-login {
  display: inline-block;
  font-size: 15px;
  padding: 10px 20px;
  background: #e0b973;
  color: white;
  border-radius: 4px;
  transition: ease 0.4s;
}
.btn-login:hover {
  transform: scale(1.1);
}

section {
  padding: 80px 18%;
}
.home {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(../img/index/banner-lammo.jpg);
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
}
.home-text h1 {
  font-size: 5rem;
  line-height: 1.2;
  color: white;
  letter-spacing: 4px;
  margin-bottom: 20px;
  font-weight: 600;
}
.home-text p {
  color: white;
  font-size: 20px;
  font-weight: 400;
  line-height: 38px;
  margin-bottom: 50px;
}

.body-end{
  padding-bottom: 5%;
  background-color: white;
  text-align: center;
}
.body-end-header{
  font-weight: bold;
  font-size: 26px;
  font-family: Arial, Helvetica, sans-serif;
}
.body-end-text-1{
  padding-top: 3px;
  font-size: 18px;
}
.body-end-text-2{
  font-size: 14px;
  font-family: 'Times New Roman', Times, serif;
}

.book-btn {
  text-transform: uppercase;
  display: inline-block;
  font-size: 16px;
  padding: 15px 30px;
  background: #e0b973;
  color: white;
  border-radius: 4px;
  transition: ease 0.4s;
}
.book-btn:hover {
  transform: scale(1.1);
}
/* -------header-------- */

/* ----LOGIN FORM----  */
    /* CSS Layout */
    .modal
    {
      position: fixed;
      top:0;
      right: 0;
      bottom: 0;
      left: 0;
      display: none;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,0.4);
      z-index: 1;
    }
    .modal__body
    {
      width: 750px;
      height: 500px;
      background-color: white;
      margin: auto;
      position: relative;
      border-radius: 5px;
    }
      /* CSS Form */
    .auth-form
    {
      width: 750px;
    }
    .auth-form__container
    {
      padding: 0 40px;
    }
    .auth-form__header
    {
      display: flex; 
      align-items: center; 
      justify-content: space-between;
      margin-top: 20px;
      padding: 0 12px;
    }
    .auth-form__heading
    {
      font-size: 20px;
      font-weight: 600;
      color:rgb(32, 42, 42);
      /* background-color: #e0b973; */
    }
    .auth-form__switch-btn 
    {
      font-size: 18px;
      font-weight: 500;
      color:rgb(32, 42, 42);
      /* background-color: #e0b973; */
    }
    .auth-form__input
    {
      width: 100%;
      height: 60px;
      margin-top: 30px;
      padding: 0 13px;
      font-size: 18px;
      font-weight: 100;
      border: 1px solid var(--border--color);
      border-radius: 3px;
      outline:none;
    }
    .auth-form__input:focus
    {
      border-color: #777;
    }
    .auth-form__aside
    {
      margin-top: 60px;
    }
    .auth-form__policy-text
    {
      font-size: 19px;
      font-weight: 400;
      text-align: center;
      padding: 0 12px;
    }
    .auth-form__policy-link
    {
      text-decoration: none;
      color: var(--primary-color);
    }
    .auth-form__policy-link:hover
    {
      text-decoration: underline;
      font-weight: 600;
    }
    .auth-form__controls
    {
      width: 100%;
      margin-top: 50px;
      border: 1px solid #e0b973;
      background-color: #e0b973;
      color: white;
      text-align: center;
      border-radius: 8px;
      padding: 10px 24px;
    }
    .auth-form__controls:hover{
      background-color: white;  
    }
    .auth-form__controls__btn
    {
      width: 100%;
      font-size: 20px;
      font-weight: 600;
    }
    .auth-form__controls__btn:hover
    {
      color:rgb(255, 213, 0);
    }
    .open__btn
    {
      display: flex;
    }